# Clerk Authentication
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Appwrite
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_PRODUCTS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_SALES_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_STORES_COLLECTION_ID=

# PostHog Analytics (optional)
POSTHOG_PROJECT_TOKEN=
POSTHOG_HOST=https://us.i.posthog.com
